<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tracker_Ainura"
        tools:targetApi="31">
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TagebuchActivity"
            android:exported="false"
            android:label="Tagebuch"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EinstellungenActivity"
            android:exported="false"
            android:label="Einstellungen"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WissenActivity"
            android:exported="false"
            android:label="Wissen"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ZusammenfassungActivity"
            android:exported="false"
            android:label="Zusammenfassung"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NotizActivity"
            android:exported="false"
            android:label="Neue Notiz"
            android:parentActivityName=".TagebuchActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Start"></activity>
    </application>

</manifest>